i.icon.icon-share {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_share_white_24px.svg"); 
}

i.icon.icon-phonecall {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_phone_white_24px.svg"); 
}

i.icon.icon-favorite-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_favorite_black_24px.svg"); 
}

i.icon.icon-favorite-white {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_favorite_white_24px.svg"); 
}

i.icon.icon-folder-open-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_folder_open_black_24px.svg"); 
}

i.icon.icon-folder-special-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_folder_special_black_24px.svg"); 
}

i.icon.icon-home-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_home_black_24px.svg"); 
}

i.icon.icon-link-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_link_black_24px.svg"); 
}

i.icon.icon-close-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_close_black_24px.svg"); 
}


i.icon.icon-star-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_star_black_24px.svg"); 
}

i.icon.icon-star-white {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_star_white_24px.svg"); 
}

i.icon.icon-msg-instagram {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-instagram.svg"); 
}

i.icon.icon-msg-skype {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-skype.svg"); 
}

i.icon.icon-msg-telegram {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-telegram.svg"); 
}

i.icon.icon-msg-telegram-un {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-telegram-un.svg"); 
}

i.icon.icon-msg-viber {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-viber.svg"); 
}

i.icon.icon-msg-whatsapp {
  width: 24px;
  height: 24px;
 	background-image: url("../img/msg-whatsapp.svg"); 
}

i.icon.icon-settings-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_settings_black_24px.svg"); 
}

i.icon.icon-info-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_info_black_24px.svg"); 
}

i.icon.icon-noteadd-black {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_note_add_black_24px.svg"); 
}

i.icon.icon-noteadd-white {
  width: 24px;
  height: 24px;
 	background-image: url("../img/ic_note_add_white_24px.svg"); 
}
